body{
font-family:Segoe UI;
background:#f8f9fa;
}

.header{
background:#0d6efd;
color:white;
text-align:center;
padding:40px;
}

.content-section{
padding:40px;
}

.card{
border:none;
border-radius:12px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);
padding:20px;
margin-bottom:20px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

footer{
background:#343a40;
color:white;
text-align:center;
padding:15px;
}